.central-main-body {
  width: 100vw;
  margin: 0 auto;
  height: auto;
}

/* ---navigation bar--- */

.nav-bar {
  width: 100%;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  background-color: inherit;
  font-weight: 600;
  display: flex;
}

.user-icon {
  width: 1.25rem;
  background-color: inherit;
}

/* --- welcome text section --- */

.welcome-page-section {
  margin-bottom: 6rem;
}

.welcome-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  letter-spacing: -0.27em;
}

.text-wrapper {
  padding: 5rem 0;
  width: auto;
  height: auto;
}

.welcome-title {
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(to right, #4b90ff, #ff5546);
  background-clip: text;
  color: transparent;
}

.welcome-subtitle {
  font-size: 3rem;
  color: #c4c7c5;
}

/* ---card container--- */

.card-container {
  width: auto;
  height: auto;
  padding: 1.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-holder {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 1rem;
}

.card {
  padding: 0.75rem;
  height: 12rem;
  border-radius: 0.5rem;
  background-color: #f0f4f9;
  position: relative;
}

.card-text {
  background-color: inherit;
}

.card-icon {
  background-color: inherit;
  width: 1.25rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

/* --- question and answer section--- */

.qna-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 6rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.question-container {
  margin: 0 auto;
  width: 64%;
  height: auto;
  background-color: #f5f6f9;
  padding: 0 0.5rem;
}

.seperator {
  margin: 0 auto;
  width: 64%;
  height: 0.1rem;
  background-color: #f0f4f9;
}

.answer-container {
  height: auto;
  width: 64%;
  margin: 0 auto;
  background-color: #f0f4f9;
  white-space: pre-wrap;
  padding: 0.5rem;
}

/* ---input section container ---  */

.input-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  bottom: 1rem;
  border: none;
}

.input-section {
  display: flex;
  width: 60%;
  margin: 0 auto;
  border-radius: 9999px;
  height: 3.5rem;
  position: fixed;
  bottom: 1rem;
  background-color: #f0f4f9;
  border: none;
  justify-content: space-between;
}

.input-field {
  background-color: inherit;
  width: 100%;
  padding: 0 0.75rem;
  border: none;
  outline: none;
  background-color: inherit;
  border-radius: 9999px;
}

.icon-container {
  width: auto;
  display: flex;
  padding: 0 0.75rem;
  background-color: inherit;
  border-radius: 9999px;
}

.icon {
  width: 1.5rem;
  background-color: inherit;
  border-radius: 9999px;
}

.send-icon {
  cursor: pointer;
  background-color: inherit;
  border-radius: 9999px;
}

/* --- media querries for devices with min-width 320px--- */

.central-main-body {
  width: 100vw;
  margin: 0 auto;
  height: auto;
}

/* ---navigation bar--- */

.nav-bar {
  width: 100%;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  background-color: inherit;
  font-weight: 600;
  display: flex;
}

.user-icon {
  width: 1.25rem;
  background-color: inherit;
}

/* --- welcome text section --- */

.welcome-page-section {
  margin-bottom: 6rem;
}

.welcome-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  letter-spacing: -0.27em;
}

.text-wrapper {
  padding: 5rem 0;
  width: auto;
  height: auto;
}

.welcome-title {
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(to right, #4b90ff, #ff5546);
  background-clip: text;
  color: transparent;
}

.welcome-subtitle {
  font-size: 3rem;
  color: #c4c7c5;
}

/* ---card container--- */

.card-container {
  width: auto;
  height: auto;
  padding: 1.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-holder {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 1rem;
}

.card {
  padding: 0.75rem;
  height: 12rem;
  border-radius: 0.5rem;
  background-color: #f0f4f9;
  position: relative;
}

.card-text {
  background-color: inherit;
}

.card-icon {
  background-color: inherit;
  width: 1.25rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

/* --- question and answer section--- */

.qna-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 6rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.question-container {
  margin: 0 auto;
  width: 64%;
  height: auto;
  background-color: #f5f6f9;
  padding: 0 0.5rem;
}

.seperator {
  margin: 0 auto;
  width: 64%;
  height: 0.1rem;
  background-color: #f0f4f9;
}

.answer-container {
  height: auto;
  width: 64%;
  margin: 0 auto;
  background-color: #f0f4f9;
  white-space: pre-wrap;
  padding: 0.5rem;
}

/* ---input section container ---  */

.input-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  bottom: 1rem;
  border: none;
}

.input-section {
  display: flex;
  width: 60%;
  margin: 0 auto;
  border-radius: 9999px;
  height: 3.5rem;
  position: fixed;
  bottom: 1rem;
  background-color: #f0f4f9;
  border: none;
  justify-content: space-between;
}

.input-field {
  background-color: inherit;
  width: 100%;
  padding: 0 0.75rem;
  border: none;
  outline: none;
  background-color: inherit;
  border-radius: 9999px;
}

.icon-container {
  width: auto;
  display: flex;
  padding: 0 0.75rem;
  background-color: inherit;
  border-radius: 9999px;
}

.icon {
  width: 1.5rem;
  background-color: inherit;
  border-radius: 9999px;
}

.send-icon {
  cursor: pointer;
  background-color: inherit;
  border-radius: 9999px;
}

/* --- media querries for devices with min-width 320px--- */

@media only screen and (max-width: 412px) {
  
  .central-main-body {
    max-width: 100vw;
  }

  .user-icon {
    width: 1.3rem;
  }
  .welcome-page-section {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .welcome-text-section {
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }

  .text-wrapper {
    padding: 3rem 0;
    width: auto;
    margin: 0 auto;
  }

  .welcome-title,
  .welcome-subtitle {
    font-size: 1.7rem;
  }

  .card-container {
    display: none;
    
  }

  .input-section {
    display: flex;
    gap: .5rem;
    width: 87%;
  }

  .input-field {
    font-size: 1rem;
  }

  .icon {
    width: 1.75rem;
  }

  .qna-section {
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 13px;
  }

}